/*custom css*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100&display=swap');
*{
  -webkit-box-sizing:border-box;
  padding:0;
  margin: 0;
  box-sizing: border-box;

}
 a {
  text-decoration:none;

}
a:hover {
  color:#F9D425;

}
ul{
  padding: 0;
  margin: 0;
}
:root{
  --primary-color:#F5C332;
  --secondary-color:#231E41;
  --white-color:#fff;
  --black-color:#1c1c1c;
  --logo-color:#F9D425;
  /*=======text color variable====*/
  --logo-text:#F9D425;
  --text-primary:#F5C332;
  --text-secondary:#231E41;
  --text-white:#fff;
  --text-color:#555;
  --text-gray:#999;
}
 html{
  scroll-behavior: smooth;
 }
 body
 {
  font-family:'Roboto,san-serif';
  font-size:100%;
  font-weight: 400;

 }
 ::-webkit-scrollbar
 {
  width:0.425rem;

}
::-webkit-scrollbar-track
{
  background:var(--white-color);
}
::-webkit-scrollbar-thumb
{
  background:var(--primary-color);
  } 
  h1
  {
    font-size:3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--text-secondary);
    text-transform: capitalize;
   }


   h2
   {
    font-size:2.25rem;
    font-weight:700;
    line-height: 1.3;
    margin-bottom:2rem;
    color: var(--white-color);
    text-transform: capitalize;
   }
   h3{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--black-color);

    text-transform: capitalize;
   }
   h4
   {
  font-size: 1.25;
  font-weight:800;
  color: var(--text-secondary);
  text-transform:capitalize;
  margin-bottom: 0.5rem; 
   }
   h5
   {font-size: 1.12rem;
    font-weight: 700;
    color: var(--text-secondary);
    text-transform: capitalize;
margin-bottom: 0.5rem;
}
p{
  font-size: 1rem;
  color:var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: .0625rem;
}
.main-btn{
   padding: 0.625rem 1.875rem;
   font-size: 0.9375rem;
   font-weight: 600;
   text-transform: capitalize;
   box-shadow: 0.125rem .625rem  -0.0625rem (0 0 0/19%);
   -webkit-transition:all .4s ease-out 0s;
   -ms-transition:all .4s ease-out 0s ;
   -o-transition:all .4s ease-out 0s;
   -moz-transition:all .4s ease-out 0s;
   transition: all .4s ease-out 0s;
   border: 0.1875rem solid var(--logo-color);
   background-color: var(--primary-color);
   color: var(--black-color);
}

.main-btn:hover{
   background-color: transparent;
   color:black;
}
.wrapper{
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.text-content{
  width:70%;
  margin: 0 auto;
}
.counter-section h2;
.testimonal-section h2;
.book-food-text h2;
color:var(--text-primary); */
}
/* ---navbar----*/
.navigation-wrap .scroll-on{
  padding-top: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  left: 0;
  background-color:var(--black-color);
  z-index: 1000;
  -webkit-transition:all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

 .navbar-brand img{
  width:10rem;
  height: 10rem;

}
 .navigation-wrap .nav-item
 {
 padding: 0 0.625rem;
 transition: all 200ms linear;
}

.navigation-wrap .navbar-toggler:focus{
  outline: none;
  border:unset;
  box-shadow: none;
}
.navigation-wrap .navbar-link{
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  color:var(--black-color);
  letter-spacing: .0625rem;
}
.navigation-wrap .main-btn{
  padding: 0.312rem 1.4375rem;
  box-shadow: none;
  margin-left: 0.625rem;

}
.top-banner{
  width: 100%;
   background-image: url("images/po.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding:10.875rem 0 9.375rem;

}
/*============================ counter section=====================*/


.counter-section{
  background-color: var(--black-color);
  padding: 2.5rem;
}
.counter-section p{
  color: var(--text-white);
  text-transform: uppercase;;
  margin-bottom: 0;

}
/*=========================================about section ================*/
.about-section{
  background-color: :var(--white-color);
}

.about-section .card,
.about-section .card img{
  border-radius: 0.625rem;
}
.about-section .text-sec{
  padding-left:2rem;
}
/*==========food type section============*/
.food-type{
  padding-top: 3.25rem;
}
.food-type ul li{
  font-size:1rem;
  color:var(--text-color);
  line-height: 32px;
  position: relative;
  margin-left: 30px;
}
.food-type ul li::before{
  position: absolute;
  left:-2.187rem;
  color:var(--primary-color);|
  font-size: 1.25rem;
  font-family:"Font Wesome 5 Free";
  content:'\f00c';
  display:inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}
.story-section{
  width:100%;
  height: 28.125rem;
  background: url('images/bg-2.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  text-align:center;
}

.story-section h2{
  color:var(--primary-color);
}

/*============explore food section=========*/
.explore-food .card{
  border:none;
  background-color: transparent;
  border-radius: 0.9375rem;
}
.explore-food .card img{
  border-radius: 0.9375rem;
  object-fit: cover;
}
.explore-food .card span{
  display:block;
  font-size: 1.5rem;
  font-weight: 700;
  color:var(--primary-color);
  padding-bottom:1rem;
  border-bottom:0.0625rem solid #eee;
}
.explore-food .card span del{
  color:var(--text-gray);
  margin-left:0.5rem;
}

/*
==========================================
 testimonial section Design
==========================================
*/
.testimonial-section{
  background-color: var(--primary-color);
}
.testimonial-section .carousel-item{
  margin-top:3rem;
  padding:10rem 3.125rem;
  background-color:var(--white-color);
  border-radius: 0.9375rem;
  text-align: center;
} 
.testimonial-section .carousel-caption img{
  max-width:5rem;
  border-radius: 50%;
  padding:0.3125rem;
}

.testimonial-section .carousel-item .carousel-caption p{
  font-size: 1.3125rem;
  line-height: 2.0625rem;
  padding:0 11% 0.625rem;
}
.testimonial-section .carousel-indicators{
  bottom:-2.8125rem;
}
.testimonial-section .carousel-indicators button{
  width:15px;
  height:15px;
  outline:none;
  border-radius: 50%;
  border:none;
  margin-right:1rem;
  opacity:0.2;
}
.testimonial-section .carousel-indicators button.active{
  opacity:1;
}


/*
==========================================
FAQ section Design
==========================================
*/
.faq h4 span{
  color:var(--primary-color);
  font-size: 1.875rem;
  margin-right:0.3125rem;
} 
.book-food{
  width:100%;
  background:url('../images/bg/bg-3.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position:0 71.9125px;
  padding:4.375rem 0
}

/* Form Control */
.newsletter{
  width:55%;
  margin:0 auto;
}
.newsletter .form-control{
  height:3.225rem;
  padding:0 1.25rem;
  font-size: 0.875rem; 
  width:100%;
  border:none;
  border-radius: 0;
  background:transparent;
  border:0.1875rem solid var(--text-gray);
  color:var(--black-color);
  font-weight: 700;
}
.newsletter .form-control:hover,
.newsletter .form-control:focus{
  outline:none;
  box-shadow: none;
  border-color:var(--primary-color);
}

/*
==========================================
footer section Design
==========================================
*/
.footer{
  background: var(--primary-color);
}
.footer .footer-link{
  font-size:1rem;
  color:var(--white-color);
  padding:0 1.875rem;
}
.footer .footer-link:hover{
  color:var(--white-color) !important;
}
.footer a i{
  font-size: 1.5rem;
  color:var(--white-color);
  padding:0 1rem;
}

